---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import { Button } from "@/components/ui/button"
import { MyDrawer } from '@/components/mydrawer'
---

<Layout title=''>
    <section class="h-[390px] relative text-white">
        <div class="absolute grid grid-cols-3 w-full h-full items-center justify-center">

            <div class="relative p-3 lg:col-span-2 md:col-span-2 col-span-3 z-10" 
            data-aos="fade-left" data-aos-duration="1000">
                <h2 class="lg:mr-4 font-bold text-5xl leading-[3.75rem]">
                    مشروع نصل 14
                </h2>
                <p class="lg:text-lg text-base my-3">

                </p>
                <div class="relative w-full my-3 flex justify-end h-full">
                    <a class="absolute bg-white text-black p-1.5 
                    mt-3 hover:bg-black hover:text-white 
                    focus:bg-black focus:text-white duration-300
                    " href="/">
                        <span class="text-xs">شاهد المشروع</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" viewBox="0 0 32 32">
                            <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16z"/>
                        </svg>                        
                    </a>
                </div>
            </div>
        </div>
        <img class="mask w-full object-center absolute h-[390px] object-cover" src="/project-nasel-14.jpeg">
    </section>
    <section>
        <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1">
            <div class="flex justify-center">
                <div class="p-3">
                    <img class="max-h-[320px]" src="/project-nasel-hero.jpeg">
                </div>
            </div>
            <div class="p-4 lg:px-0">
                <h2 class="font-bold text-4xl leading-[3.75rem]">
                    شركة نصل العقارية
                </h2>
                <p class="text-lg">
                    شركة نصل العقارية
                    <div>
                        <MyDrawer client:idle />
                    </div>
                </p>
            </div>
        </div>
    </section>
</Layout>
<style>
    .mask {
        filter:brightness(45%);
    }
</style>