---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import { Button } from "@/components/ui/button"
import { MyDrawer } from '@/components/mydrawer'
---

<Layout>
    <section class="h-[390px] relative text-white">
        <div class="absolute grid grid-cols-3 w-full h-full items-center justify-center">

            <div class="relative p-3 lg:col-span-2 md:col-span-2 col-span-3 z-10" 
            data-aos="fade-left" data-aos-duration="1000">
                <h2 class="lg:mr-4 font-bold text-5xl leading-[3.75rem]">
                    مشاريع نصل 
                </h2>
                <p class="lg:text-lg text-base my-3">

                </p>
                <div class="relative w-full my-3 flex justify-end h-full">
                    <a class="absolute bg-white text-black p-1.5 
                    mt-3 hover:bg-black hover:text-white 
                    focus:bg-black focus:text-white duration-300
                    " href="#projects">
                        <span class="text-xs">تصفح المشاريع</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" viewBox="0 0 32 32">
                            <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16z"/>
                        </svg>                        
                    </a>
                </div>
            </div>
        </div>
        <img class="mask w-full object-center absolute h-[390px] object-cover" 
        src="/project-nasel-14.jpeg">
    </section>
    <section id="about" class="pt-36">
        <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1">
            <div class="flex justify-center">
                <div class="p-3">
                    <img class="max-h-[320px]" src="https://pub-e630f922b0434823ab2e64a02d626d76.r2.dev/projects/nasel-15/1.jpg">
                </div>
            </div>
            <div class="p-4 lg:px-0">
                <h2 class="font-bold text-4xl leading-[3.75rem]">
                    شركة نصل العقارية
                </h2>
                <p class="lg:max-w-[480px] text-base py-2.5">
                    نصل العقارية هي شركة تطوير عقاري رائدة مقرها الرياض. تقدم مشاريع عقارية مبتكرة
                    وذات جودة عالية تلبي احتياجات العملاء المختلفة وتطلعاتهم.
                </p>
                <button class="absolute bg-black text-white p-3 
                    mt-3 hover:bg-white hover:text-black 
                    focus:bg-white focus:text-black duration-300
                    "
                    id="interest"
                    >
                        <span class="text-sm">سجل اهتمامك</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" viewBox="0 0 32 32">
                            <circle cx="26" cy="16" r="4" fill="currentColor"/>
                            <path fill="currentColor" d="M22 30h-2v-5a5 5 0 0 0-5-5H9a5 5 0 0 0-5 5v5H2v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7zM12 4a5 5 0 1 1-5 5a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7a7 7 0 0 0-7-7"/>
                        </svg>                    
                </button>
            </div>
        </div>
        <section class="px-6 pt-36" id="projects" >
            <div class="px-8 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-12">
                {
                    [
                        {
                            name: "نـصــل 13",
                            status: "sold",
                            images: [
                                "https://pub-e630f922b0434823ab2e64a02d626d76.r2.dev/projects/nasel-13/0.jpg"
                            ],
                        },
                        {
                            name: "نـصــل 14",
                            status: "sold",
                            images: [
                                "/project-nasel-14.jpeg"
                            ],
                        },
                        {
                            name: "نـصــل 15",
                            status: "under-development",
                            images: [
                                "https://pub-e630f922b0434823ab2e64a02d626d76.r2.dev/projects/nasel-15/1.jpg"
                            ],
                        },
                        {
                            name: "نـصــل 16",
                            status: "under-development",
                            images: [
                                "https://pub-e630f922b0434823ab2e64a02d626d76.r2.dev/projects/nasel-16/2.jpg"
                            ],
                        },
                        {
                            name: "نـصــل 17",
                            status: "soon",
                            images: [
                                "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000'%3E%3Crect x='0' y='0' width='1000' height='1000' fill='%23808080' /%3E%3C/svg%3E"
                            ],
                        },
                    ].map(elm => {
                        return (
                        <article class="grid hover:scale-90 relative transition-transform">
                            <div class="translate-x-0 translate-y-0">
                                <img class="col-start-1 row-start-1 aspect-square object-cover" src={elm.images[0]} />
                                    <a class="absolute -left-6 bg-black bottom-8 col-start-1 p-2.5 row-start-1 text-base text-white">
                                        {elm.name}
                                    </a>
                                    {
                                        elm.status && (
                                        <div class="absolute h-full overflow-hidden top-0 w-full">
                                            <div class:list={["absolute -rotate-45  bottom-[32px] font-medium py-1 right-[-38px] text-center transform w-[170px]", elm.status !== "sold" ? "bg-white text-black" : "bg-black text-white"]}>
                                                {elm.status == "under-development" && "تحت الإنشاء..."}
                                                {elm.status == "sold" && "مباعة"}
                                                {elm.status == "soon" && "قريبًا..."}
                                            </div>
                                        </div>
                                        )
                                    }
                            </div>
                        </article>
                        )
                    })
                }
        </div>
        </section>
        <section>
            <section class="grid lg:grid-cols-3 md:grid-cols-3 grid-cols-1 gap-4 mt-4">
                <div class="flex justify-center items-center">
                  <h3 class="font-bold text-5xl p-5">إحصائيات</h3>
                </div>
                <ul class="lg:col-span-2 md:col-span-2 min-h-[20vw] grid grid-cols-2 grid-rows-2 items-center justify-center">
                    <li class="font-medium lg:text-2xl text-lg flex flex-col justify-center items-center p-5">
                        <p>109</p>
                        <h4>وحدة سكنية</h4>
                    </li>
                    <!-- <li class="font-medium lg:text-2xl text-lg flex flex-col justify-center items-center p-5">
                        <p><small class="text-sm">لا توجد مكاتب</small></p>
                        <h4>مكتب</h4>
                    </li> -->
                    <li class="font-medium lg:text-2xl text-lg flex flex-col justify-center items-center  p-5">
                        <p>23,000</p>
                        <h4><span>م<sup>2</sup></span> مسطحات البناء</h4>
                    </li>
                    <li class="col-span-2 font-medium lg:text-2xl text-lg flex flex-col justify-center items-center  p-5">
                        <p>6,930</p>
                        <h4><span>م<sup>2</sup></span> المساحات البنائية</h4>
                    </li>
                </ul>
              </section>              
        </section>
        <script>
            import { isOpen } from "@/store/nanostore";
            function toggleDialog(){
                isOpen.set(!isOpen.get());
            }
            document.getElementById("interest")?.addEventListener(
                "click", ()=> {
                    toggleDialog()
                }
            )
        </script>
        <MyDrawer client:only>
            <slot slot="title">سجل اهتمامك</slot>
            <slot slot="description">أدخل معلوماتك لتسجيل اهتمامك</slot>
            <slot slot="buttonTitle">تسجيل اهتمامك</slot>
        </MyDrawer>
    </section>
</Layout>
<style>
    .mask {
        filter:brightness(45%);
    }
</style>